<template>
  <div id="wrapper">
    <img
      id="logo"
      src="~@/assets/3641.svg"
      alt="electron-vue"
    >
    <span class="header">App Demo by khanht</span>
    <main>
      <div class="wraper">
        <button
          class="select-file"
          @click="selectFile"
        >Chọn file</button>
        <button
          class="folder-save"
          @click="selectFolder"
        >Chọn folder lưu</button>
        <button
          v-show="checkSelectFile && checkFolderSave"
          class="exec-file"
          @click="exec"
        >Thực hiện</button>
        <div v-show="checkSelectFile || checkFolderSave">
          <div class="description">
            <p>Tổng số file đã chọn: <span style="color: red">{{ totalFile }}</span></p>
            <p>Lưu tại thư mục: <img class="icon-folder" src="~@/assets/32527.svg"><a
                style="color: #0085ff;"
                @click="openFolder(saveFolder[0])"
              >{{ saveFolder[0] }}</a></p>
            <p>Tổng số file thành công: <span style="color:red">{{ totalFileSuccess }}</span></p>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { remote } from 'electron'
import Helper from '../../helper'
const path = require('path')
const dialog = remote.dialog

export default {
  name: 'landing-page',
  data () {
    return {
      totalFile: '',
      checkSelectFile: false,
      checkFolderSave: false,
      fileNames: [],
      totalFileSuccess: 0,
      messageSuccess: '',
      saveFolder: ''
    }
  },
  methods: {
    open (link) {
      this.$electron.shell.openExternal(link)
    },
    openFolder (dir) {
      this.$electron.shell.openItem(dir)
    },
    selectFolder () {
      const optionsFolder = {
        title: 'Open a folder',
        buttonLabel: 'Select folder',
        properties: ['openDirectory']
      }
      dialog.showOpenDialog(null, optionsFolder, (foldersName) => {
        if (foldersName === undefined) {
          console.log('No folder selected')
        } else {
          this.checkFolderSave = true
          this.saveFolder = foldersName
        }
      })
    },
    selectFile () {
      this.fileNames = []
      this.totalFileSuccess = 0
      this.totalFile = 0
      const optionsFile = {
        title: 'Open a file or folder',
        buttonLabel: 'Select file',
        filters: [
          { name: 'NC', extensions: ['nc'] }
        ],
        properties: ['showHiddenFiles', 'multiSelections']
      }

      dialog.showOpenDialog(null, optionsFile, (fileNames) => {
        if (fileNames === undefined) {
          console.log('No file selected')
        } else {
          this.checkSelectFile = true
          this.fileNames = fileNames
          this.totalFile = fileNames.length
        }
      })
    },
    replaceString (str) {
      const output = str.replace(/\r\n(A0|A1|A2|A3|A4|A5)/gm, '\r\nM06$1').replace('\r\nA6', '\r\nB4').replace('\r\nA7', '\r\nB3').replace('\r\nA8', '\r\nB2').replace('\r\nA9', '\r\nB1')
      return output
    },
    async exec () {
      this.totalFileSuccess = 0
      if (!this.fileNames.length) {
        console.log('Chưa có file nào được chọn !')
        return
      }
      this.fileNames.map(async pathFile => {
        const content = await Helper.readFile(pathFile)
        const contentReplace = this.replaceString(content)
        const pathFileNew = this.saveFolder + '/' + path.basename(pathFile) + '_edited'
        await Helper.saveFile(pathFileNew, contentReplace)
        this.totalFileSuccess += 1
      })
    }
  }}
</script>
