@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Source Sans Pro", sans-serif;
}

#wrapper {
	background: radial-gradient(
		ellipse at top left,
		rgba(255, 255, 255, 1) 40%,
		rgba(229, 229, 229, 0.9) 100%
	);
	height: 100vh;
	padding: 60px 80px;
	width: 100vw;
}

#logo {
	height: auto;
	width: 40px;
}

.header {
	margin-left: 20px;
	position: relative;
	top: -15px;
}

main {
	display: flex;
	justify-content: space-between;
}

main > div {
	flex-basis: 50%;
}

.left-side {
	display: flex;
	flex-direction: column;
}

.welcome {
	color: #555;
	font-size: 23px;
	margin-bottom: 10px;
}

.title {
	color: #2c3e50;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 6px;
}

.title.alt {
	font-size: 18px;
	margin-bottom: 10px;
}

.doc p {
	color: black;
	margin-bottom: 10px;
}

.doc button {
	font-size: 0.8em;
	cursor: pointer;
	outline: none;
	padding: 0.75em 2em;
	border-radius: 2em;
	display: inline-block;
	color: #fff;
	background-color: #4fc08d;
	transition: all 0.15s ease;
	box-sizing: border-box;
	border: 1px solid #4fc08d;
}

.doc button.alt {
	color: #42b983;
	background-color: transparent;
}

button {
	border-radius: 1px;
	margin-right: 3px;
	padding: 10px 20px;
	color: #fff;
	border: none;
	outline: none;
}

.select-file {
	background-color: #4fc08d;
	border-color: #4fc08d;
	outline: none;
	margin-top: 10px;
}

input[type="button"] {
	outline: none;
}

.exec-file {
	background-color: rgba(255, 0, 0, 0.67);
	border-color: rgba(255, 0, 0, 0.67);
}

.folder-save {
	background: #5c70e4;
	border-color: #5c70e4;
	margin-bottom: 10px;
}

button:hover {
	cursor: pointer;
}

.description {
	margin-top: 15px;
	padding: 20px;
	border-radius: 10px;
	background: #ddd;
}

.description p {
	margin-bottom: 5px;
}

a:hover {
	cursor: pointer;
}

.icon-folder {
	width: 15px;
	position: relative;
	top: 3px;
	margin-left: 5px;
	margin-right: 5px;
}
